@charset "utf-8";

*{margin:0; padding:0;}
html{ overflow-x:hidden;}
body{ margin:0; padding:0; color:#333; font-family: "Microsoft YaHei", "STXiHei", "SimHei","SimSun";background:#FFFFFF;min-width:1100px;}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,blockquote,p{margin:0;padding:0; border:0;}
fieldset,img {border:0;}
img{vertical-align:middle;}
ul,li,ol {list-style:none;}
a:link, a{text-decoration:none;outline:none;color:#333;font-family:"Microsoft YaHei";}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:#C8C8C8
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:#C8C8C8;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:#C8C8C8;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:#C8C8C8;
}



.theadertop{width:97%;height:40px;position:relative;z-index:9;padding-top:10px;margin-left:auto;margin-right:auto}
.theadertop .logo{float:left;height:100%}
.theadertop .verline{float:left;width:1px;height:46px;background-color:#505050;margin-right:10px;margin-left:10px;margin-top:2px}
.theadertop .logo img{height:50px}

.theaderup{width:100%;height:70px;position:relative;z-index:9;}

.headtitle{width:100%;height:80px;position:relative;z-index:9;margin-top:20px;margin-bottom:20px;font-family:"Microsoft JhengHei UI Light", "Microsoft YaHei";color:#282828;;text-align:center;}
.headtitle .title1{font-size:30px;line-height:50px;}
.headtitle .title2{font-size:16px;line-height:30px;}

.input1bg{width:100%;height:50px;position:relative;z-index:9;text-align:center;}
.input1bg .input1{width:700px;height:50px; margin:0 auto;box-shadow:0 2px 2px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.1);border-radius:2px;}
.input1bg .input1 .input11{width:640px;height:42px;padding-left:4px;padding-top:4px;padding-bottom:4px;float:left}
.input1bg .input11 input{width:100%;height:100%;outline:none;font-size:16px;line-height:42px;color:#464646;font-family:Helvetica}
.input1bg .input1 .input12{width:55px;height:50px;border-left:solid 1px #f1f1f1;float:left;}
.input1bg .input1 .input12 button{width:55px;height:50px;color:#aeb0b5;cursor:pointer}
.input1bg .input1 .input12 button svg{fill:#aeb0b5;vertical-align:middle;}

.underinputbg{width:100%;height:30px;position:relative;z-index:9;text-align:center}
.underinputbg .underinput{width:680px;height:100%;margin:0 auto; color:#4169E1}
.underinputbg .underinput a{color:#4169E1}
.underinputbg .underinput a:hover{text-decoration:underline}
.underinputbg .underinput .underinput0{width:70px;height:100%;float:left;font-size:12px;line-height:30px;text-align:left;}
.underinputbg .underinput .underinput0:hover{cursor:pointer;text-decoration:underline}
.underinputbg .underinput .underinput1{width:300px;height:100%;float:left;font-size:12px;line-height:30px;text-align:left;}

.underinputbg .underinput .underinput1 #demo{cursor:pointer}
.underinputbg .underinput .underinput1 #demo:hover{text-decoration:underline}

.underinputbg .underinput .underinput2{width:110px;height:100%;float:right;font-size:12px;line-height:30px;text-align:left;cursor:pointer;}
.underinputbg .underinput .underinput3{width:30px;height:100%;float:right;font-size:18px;line-height:27px;text-align:right;}
.underinputbg .underinput .underinput2:hover{text-decoration:underline}

.input2bg{width:100%;position:relative;z-index:9;display:none}
.input2bg .input2{width:600px;margin:0 auto;padding-top:15px;padding-bottom:10px}
.input2bg .input2 .advanceinput{width:100%;height:22px;font-size:14px;line-height:10px;margin-bottom:10px}
.input2bg .input2 .advanceinput .adinput_relation{width:70px;height:22px;float:left;outline:none;margin-right:10px}
.input2bg .input2 .advanceinput .adinput_select{width:130px;height:22px;float:left;outline:none;margin-right:10px}
.input2bg .input2 .advanceinput .adinput_text{width:300px;height:21px;float:left;margin-right:10px;border:0.5px solid #AAAAAA;outline:none;}
.input2bg .input2 .advanceinput .addline{width:17px;height:17px;float:left;padding-top:4px;background: url(image/addrm.png) no-repeat 0px;display:inline-block;cursor:pointer;margin-right:5px}
.input2bg .input2 .advanceinput .removeline{width:17px;height:17px;float:left;padding-top:4px;background: url(image/addrm.png) no-repeat -16px;display:inline-block;cursor:pointer;margin-right:5px}

.input2bg .input2button{width:100px;margin:0 auto;padding-bottom:10px;}
.input2bg .input2button button{width:70px;height:25px;border-radius:2px;outline:none;cursor:pointer;background-color:DCDCDC}

.outputlabelsbg{width:100%;height:70px;position:relative;z-index:9;margin-top:20px;display:none}
.outputlabelsbg .outputlabels{width:1000px;height:45px;margin-left:auto;margin-right:auto;}
.outputlabelsbg .outputlabels .labelbg{width:978px;height:45px;border-bottom:1px solid #ddd;float:left}
.outputlabelsbg .outputlabels .labelbg li{width:120px;height:42px;float:left;background-color:#FFFFFF;border-radius:1px;color:#4169E1;font-size:15px;line-height:45px;text-align:center;border:1px solid transparent;}
.outputlabelsbg .outputlabels .labelbg li:hover{cursor:pointer;margin-top:1px;background-color:#EBEBEB;}
.outputlabelsbg .outputlabels .labelbg .active{border:1px solid #ddd;border-bottom:2px solid transparent;margin-top:1px;color:#333}

.outputlabelsbg .outputlabels #sizectrl{width:20px;height:20px;margin-top:10px;float:right;background-image:url(image/fullsize.png);background-repeat:no-repeat; background-size:100% 100%;}
.outputlabelsbg .outputlabels #sizectrl:hover{opacity:0.5;cursor:pointer}


.outputinfo{width:100%;position:relative;z-index:9;display:none}
.outputinfo .infobg{width:800px;margin:10px auto}
.outputinfo .infobg table{border:0;margin:0;border-collapse:collapse;border-spacing:0;}
.outputinfo .infobg table .alignright{text-align:right}
.outputinfo .infobg table table tr:hover{background-color:#F0F0F0}
.outputinfo .infobg table table th{height:20px;border:0.5px solid #BEBEBE;padding:4px}
.outputinfo .infobg table table td{height:20px;border:0.5px solid #BEBEBE;padding:4px}
.outputinfo .infobg th{height:30px;border-bottom:0.5px solid #BEBEBE}
.outputinfo .infobg td{height:30px;border-bottom:0.5px solid #BEBEBE}

.outputplot{width:100%;position:relative;z-index:9;display:none}
.outputplot .plotbg{width:800px;margin:30px auto;}
.outputplot #Sizedistri{width:900px;}

.outputtable{width:100%;position:relative;z-index:9;display:none}
.outputtable #tbanno{float:left;margin-left:5%;font-size:14px;line-height:20px;display:none}
.outputtable #tbdl{float:right;margin-right:5%;color:#4169E1;cursor:pointer;font-size:14px;line-height:20px;display:none}
.outputtable #tbdl:hover{text-decoration:underline}
.outputtable .showtable{width:90%;margin:0 auto;}

.outputigv{width:100%;position:relative;z-index:9;display:none}
.outputigv .igvctrlbg{width:calc(90% - 20px);height:35px;margin:0 auto;color:#505050;}
.outputigv .igvctrl{width:100%;height:100%;background-color:#F2F2F2;border:0.5px solid #BEBEBE;border-radius:2px}
.outputigv .igvctrl .igvct1{width:100px;height:100%;float:left;margin-left:20px;font-size:14px;line-height:35px;text-align:right;}
.outputigv .igvctrl .igvct2{height:100%;float:left;}
.outputigv .igvctrl .autocomp1{width:130px;height:25px;margin-top:5px;margin-left:3px;margin-right:3px;float:left;outline:none;border:0.5px solid #BEBEBE;background-color:#FFF}
.outputigv .igvctrl .acsubmit1{width:50px;height:25px;margin-top:5px;margin-left:3px;float:left;outline:none;border:0.5px solid #BEBEBE;cursor:pointer}

.outputigv .igvctrl .igvct3{width:130px;height:100%;float:right;font-size:14px;line-height:35px;text-align:right;}
.outputigv .igvctrl .igvct4{height:100%;float:right;}
.outputigv .igvctrl .autocomp2{width:130px;height:25px;margin-top:5px;margin-left:3px;margin-right:3px;float:right;outline:none;border:0.5px solid #BEBEBE;background-color:#FFF}
.outputigv .igvctrl .acsubmit2{width:50px;height:25px;margin-top:5px;margin-left:3px;margin-right:40px;float:right;outline:none;border:0.5px solid #BEBEBE;cursor:pointer}


.outputigv .showigv{width:90%;min-height:400px;margin:0 auto;}

.waiting{width:400px;height:40px;position:absolute;top:230px;left:50%;margin-left:-200px;z-index:200;text-align:center;}

.bottombg{width:100%;height:20px;position:relative;z-index:9;}

/*
.demobg{width:320px;height:100px;font-size:11px;line-height:17px;position:fixed;top:275px;left:280px;background-color:#F0F0F0;border-radius:2px;display:none}
.demobg span{cursor:pointer}
.demobg span:hover{text-decoration:underline}
*/

#alllib{text-align:center}

#alllib #alllibdown{width:95%;margin-left:auto;margin-right:auto;margin-top:20px;font-size:12px;line-height:18px;text-align:right;}
#alllib #alllibdown a{color:blue}
#alllib #alllibdown a:hover{text-decoration:underline}
#libtb{width:95%;overflow-x:scroll;margin-left:auto;margin-right:auto;font-size:12px;line-height:14px}
#libtb tr{margin-bottom:2px;}
#libtb th{padding-left:5x;padding-right:5px;word-break:break-all;border-bottom:2px solid #FFFFFF}
#libtb td{padding-top:2px;padding-bottom:2px;border-bottom:2px solid #FFFFFF}

#libpage{width:auto;display:inline-block;margin:10px auto 20px auto;font-size:18px;line-height:26px;text-align:center}
#libpage #pagectrl td{width:30px;height:30px;background-color:#F0F0F0;cursor:pointer}
#libpage #pagectrl td:hover{background-color:#DCDCDC}

#demo{width:90px;color:#4169E1;outline:none;border:0.5px solid #969696}


#doc{width:100%;font-family:"Helvetica";word-break:break-all}
#docleft{background-color:#DCE6E1;width:260px;padding-top:20px;padding-bottom:20px;min-height:900px;vertical-align:top}
#docleft .cont{text-align:left;cursor:pointer}
#docleft .cont:hover{text-decoration:underline}
#docleft .cont1{text-indent:20px;font-size:20px;line-height:200%}
#docleft .cont2{text-indent:50px;font-size:16px;line-height:160%}
#docright{padding-top:20px;padding:20px;border-left:1px solid #C8C8C8;min-height:900px;vertical-align:top}
#docright .tuto1{font-size:30px;line-height:200%}
#docright .tuto2{font-size:16px;text-align:justify;line-height:160%;margin:20px 100px 20px 0px;word-break:keep-all}




